pkgbase = omarchy-aum-logo
	pkgdesc = Custom Omarchy logo (ॐarchy, ॐkārchy, oṃarchy, oṃkārchy or your own) for the screensaver, boot/login screens and Omarchy terminal
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/popovoleksandr/omarchy-aum-logo
	install = omarchy-aum-logo.install
	arch = any
	license = MIT
	depends = bash
	depends = imagemagick
	depends = jq
	source = omarchy-aum-logo-1.0.1.tar.gz::https://github.com/popovoleksandr/omarchy-aum-logo/archive/refs/tags/v1.0.1.tar.gz
	sha256sums = SKIP

pkgname = omarchy-aum-logo
